@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&family=Kumbh+Sans:wght@400;700&family=Poppins:wght@200;400;600&family=Red+Hat+Display:wght@500;900&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display';
}
html{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns:auto;
    background-color: #FAFAFA;
}
main{
    grid-template-columns: auto;
    width: 375px;
    height: 2030px;
    align-items: center;
    background: #FAFAFA;
    justify-content: center;
    overflow: hidden;
    margin-left: 50%;
    transform: translateX(-50%);
    grid-column-start: auto;
    z-index: 1;


}

.satauri{
    width: 119px;
    height: 28px;
    flex-shrink: 0;
    margin: 48px 128px 54px 128px;
}
.head{
    width: 100vh;
    height: 153px;
    flex-shrink: 0;
    display: flex;
    position: relative;


}
.left{
    height: 153px;
    width: 207px;
    display: grid;
    grid-template-columns: auto auto auto;

}
.middle{
    width: 16px;
    height: 153px;
    display: none;
}
.right{
    padding-right: 16px;
    display: grid;
    grid-template-columns: auto auto auto;
    width: 204px;
    height: 153px;
}
.img1{
    width: 55.558px;
    height: 55.545px;
    border-radius: 55.558px;
    background: url(assets/Mask\ \(8\).svg);
    background-repeat: no-repeat;
}
.top{
    align-self: flex-start;
}
.end{
    align-self: flex-end;
}
.center{
    width: 327px;
    height: 354px;
    display: grid;
    grid-template-columns: auto;
    text-align: center;
    padding: 48px 24px 24px 24px;
}
.text1{
    width: 327px;
    color: #28283D;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 44px; /* 110% */
    padding: 24px;
}
.text2{
    color: #87879D;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 162.5% */
    padding: 0 0 32px 0;
}
.buttons{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
}
.btn1{
    width: 193px;
    height: 58px;
    flex-shrink: 0;
    border-radius: 29px;
    background: #4D96A9;
    color: white;
    font-weight: 900;

}
.sky{
    color: #8FE3F9;
    
}
.btn2{
    width: 139px;
    height: 58px;
    flex-shrink: 0;
    border-radius: 29px;
    background: #855FB1;
    color: white;
    font-weight: 900;
    margin-left: 27px;
    margin-top: 16px;
}
.btn{
    border: none;
}
.animation1{
    display: flex;
    width: 56px;
    height: 140px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 64px;

}
.nika{
    width: 2px;
    height: 84px;
    background-color: black;
    opacity: 0.25;
    position: absolute;
}
.kaxa{
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
    border: 1px solid rgba(135, 135, 157, 0.25);
    animation-name: move;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 2;
    position: absolute;
}

.images{
    margin-top: 120px;
    width: 327px;
    height: 310px;
    flex-shrink: 0;
}
.img2{
    width: 160px;
    height: 160px;
    border-radius: 20px;
    padding: 8px;
    position: relative;
}
.text3{
    width: 327px;
    height: 284px;
    flex-shrink: 0;
    margin-top: 66px;
}
h1{
    color: #4D96A9;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: 26px; /* 162.5% */
    letter-spacing: 4px;
    text-transform: uppercase;
}
h2{ 
    padding-top: 24px;
    color: #28283D;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 36px; /* 112.5% */
}
h3{
    padding-top: 32px;
    height: 130px;
    width: 327px;
    color: #87879D;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 162.5% */
}
.last{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 428px;
    background: #4D96A9;
    background-image: url(assets/Bitmap\ \(7\).svg);
    background-repeat: no-repeat;
    background-position-x: center;
    margin-top: 320%;
    overflow: hidden;
}

h5{
    margin-top: -70PX;
    color: #FAFAFA;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 36px; /* 112.5% */
}
p{
    width: 290px;
    color: #FAFAFA;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 162.5% */
    margin-left: 50%;
    transform: translateX(-50%);
}
.btn3{
    width: 193px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 25px;
}
.sky1{
    color: #D9B8FF;;
}

.btn1:hover{
    background: #71C0D4;
}
.btn2:hover,.btn3:hover{
    background: #B18BDD;
}
.img2:hover{
    border-radius: 4px solid black;
    height: 161px;
    width: 161px;
}
.kaxa:hover{
    background-color: rgb(197, 187, 187);
}

















@keyframes move{
    0%{
        margin-top: 140px;
    }
  
    50%{
        margin-top:-140px ;
    }

    100%{
        margin-top: 140px;
    }
}